@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: inline-block;
  max-width: 100%;
}

.sidebar svg {
  max-width: 40px;
  max-height: auto;
  fill: var(--white);
}

.card svg {
  max-height: auto;
  fill: black;
}

.left-content svg {
  max-width: 20px;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

:root {
  --green: #22c55e;
  --white: #f0fdf4;
  --gray: #d1d5db;
}

body,
html {
  height: 100%;
}


.container {
  display: grid;
  grid-template-columns: 225px 1fr;
  grid-template-rows: 125px 1fr;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.sidebar {
  background-color: var(--green);
  color: var(--white);
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  padding: 10px;
}

.dashboard {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  font-size: 22px;
  font-weight: bold;
  gap: 5px;
  
}

.header {
  grid-column: 2 / 3;
  padding: 15px;
}

.main-content {
  background-color: var(--gray);
  box-shadow: inset 0 2px 5px rgba(0,0,0,0.1);
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 15px;
}

.left-content {
  display: grid;
  grid-template-rows: 50px 1fr;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.left-content .card:hover {
  top: -2px;
  box-shadow: inset 8px 0px 0px 0px #C52289, 4px 5px rgba(0,0,0,0.2);
}

.card-title,
.ann-title,
.trending-title {
  align-self: end;
  padding-bottom: 5px;
  font-weight: bold;
}

.card-part + .card-part {
  border-top: 1px solid gray;
  padding-top: 10px;
}

.card-links {
  display: flex;
  justify-content: end;
  gap: 8px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  grid-row: 2;
}

.left-content .card {
  box-shadow: inset 8px 0px 0px 0px #C52289, 0 2px 5px rgba(0,0,0,0.1);;
  height: 200px;
  position: relative;
  top: 0;
  justify-content: space-between;
}
.card .title {
  font-size: 14px;
  font-weight: bold;
}

.card p {
  font-size: 12px;
}

.rightbar {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding-left: 15px;
}

.announcements,
.trending {
  display: grid;
  grid-template-rows: 50px 1fr;
}

.announcements .card {
  grid-row: 2;
  gap: 10px;
}

.trending .card {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  place-content: center;
  grid-template-columns: 1fr;
}

.rightbar svg {
  width: 40px;
}

.trending-item {
  display:inline-flex ;
  align-items: center;
  justify-content: start;
  gap: 10px;
}